body{
    background-color:hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.font{
    font-weight: 700;
    font-size: 24px;
    font-family: Space Mono;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    background-color: hsl(0, 0%, 100%);
    width: 60rem;
    height: 30rem;
    border-radius: 20px;
    margin-top: 4rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    font-weight: 700;
    font-size: 24px;
    font-family: Space Mono;
}
.pageLogo{
    margin-top: 3rem;
}
p{
    margin: 0;
}
button{
    cursor: pointer;
}
.mainChildRight{
    background-color:  hsl(183, 100%, 15%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    height: 26rem;
}
.resetBtn{
    background-color:  hsl(172, 67%, 45%);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 14%;
    margin-bottom: 2rem;
    color: hsl(183, 100%, 15%);
}
.tipView{
    height: 12rem;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 2rem;
}
.tipViewText{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}
.bigText{
    color: hsl(172, 67%, 45%);
    font-size: 52px;
}
.person{
    font-size: 14px;
    font-weight: 100;
    opacity: 70%;
}
.mainChildLeft{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    height: 20rem;
}
input{
    width: 100%;
    height: 3rem;
    background-color: hsl(189, 41%, 97%);
    border: none;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    padding: .2rem;
    padding-right: 1rem;
    letter-spacing: .1rem;
    margin-top: .5rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
input:focus{
    border: 3px solid hsl(172, 67%, 45%);
}
 .icons{
    z-index: 1;
    position: absolute;
    width: 1rem;
    margin-left: 1rem;
}
.leftChildText{
    color:hsl(186, 14%, 43%);
    font-size: 18px;
}
.tipBtnsParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tipBtnsChild{
    width: 30%;
    height: 3rem;
    margin-top: 1rem;
}
.tipBtns{
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.customTip{
    width: 25%;
}
.peopleError{
    color: rgb(255, 115, 65);
    visibility:hidden;
    font-size: 18px;
}
 @media only screen and (max-width:600px){
    body{
        justify-content: space-around;
    }
    .pageLogo{
        margin-top: 1rem;
    }
    main{
        flex-grow: 1;
        grid-template-columns: 0;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 3rem;
        width: 15rem;
        height: 34rem;
        padding-bottom: 0;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-right: 3rem;
    }
    input{
        height: 12%;
    }
    .mainChildRight{
        width: 15rem;
        height: 10rem;
        padding: 1rem;
        margin-top: -9rem;
    }
    .mainChildLeft{
        width: 23rem;
        height: 25rem;
        grid-row-gap: 0;
    }
    .mainChildLeftChildren{
        height: 5rem;
        justify-content: center;
        align-items: center;
    }
    .bill{
        margin-top: -2rem;
        width: 16rem;
        height: 5rem;
    }
    .leftChildText{
        font-size: 12px;
    }
    .selectTip{
        margin-top: -5rem;
        width: 16rem;
        height: 15%;
    }
    .customTip{
        width: 1rem;
        margin-right: 0rem;
    }
    .numPeople{
        margin-top: -2rem;
        width: 16rem;
    }
    .numPeopleHeading>*{
        font-size: 10px;
    }
    .resetBtn{
        height: 23%;
        width: 100%;
        margin-top: 1rem;
    }
    .customTip::placeholder{
        text-align: center;
    }
    .customTip::-ms-input-placeholder{
        text-align: center;
    }
    .tipViewRow1>*{
        font-size: 30px;
    }
    .tipViewRow2>*{
        font-size: 30px;
    }
    .tipView{
        grid-row-gap: 0rem;
        height: 6rem;
    }
    .tipViewRow1{
        height: 5%;
        margin-top: 1rem;
    }
    .tipViewText{
        font-size: 12px;
    }
    .tipViewRow2{
        margin-top: 1rem;
        height: 5%;
    }
    .tipBtnsChild{
        width: 90%;
    }
    .tipBtnsParent{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .tipBtnsParent>*{
        height: 2rem;
    }
    .icons{
        margin-top: .5rem;
        margin-left: .5rem;
    }
 }